* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F5F5F5;
  color: #333;
}

.chatbot {
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 600px;
  height: 900px;
  background: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

@media (max-width: 600px) {
  .chatbot {
    width: 80%;
  }
}

.messages {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 20px;
  background-color: #ffffff;
}

.select-restaurant {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.suggested-questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: #f5f5f5;
}

.suggested-questions button {
  background-color: #324666;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}

.message {
  margin-bottom: 10px;
  line-height: 1.6;
  word-wrap: break-word;
  font-size: 16px;
}

.message.user {
  align-self: flex-end;
  background-color: #0084FF;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 15px 15px 3px 15px;
  width: 70%;
  max-width: 100%;
  margin-bottom: 10px;
}

.message.bot {
  align-self: flex-start;
  background-color: #E8E8E8;
  color: #000000;
  padding: 10px 15px;
  border-radius: 15px 15px 15px 3px;
  width: 70%;
  max-width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #E8E8E8;
  background-color: #F5F5F5;
}

.input-area input {
  flex-grow: 1;
  border: none;
  border-radius: 15px;
  padding: 10px;
  outline: none;
  margin-right: 10px;
}

.input-area button {
  background-color: #324666;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.select-restaurant {
  margin: 20px;
  width: 90%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  padding: 5px;
  font-size: 16px;
  box-shadow: 0 3px 6px 1px rgba(0,0,0,0.16);
}

.label {
  padding: 10px 10px;
  font-size: 16px;
  color: #333;
}